<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.walkthetalktech.authority.dao.authority.IRoleInfoMapper" >

<resultMap type="com.walkthetalktech.authority.model.authority.RoleInfo" id="baseMap">
	<id column="id" property="id" jdbcType="BIGINT" />
	    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
	    <result column="role_prefix" property="rolePrefix" jdbcType="VARCHAR" />
	    <result column="create_time" property="createTime" jdbcType="DATE" />
	    <result column="role_description" property="roleDescription" jdbcType="VARCHAR" />
	    <result column="is_del" property="isDel" jdbcType="BOOLEAN" />
</resultMap>
  <select id="selectRoleListByAuthorityId" parameterType="java.lang.Long" resultMap="baseMap">
  	SELECT 
  role_info.`id`,
  role_info.`role_name`,
  role_info.`role_prefix`,
  role_info.`role_description`,
  role_info.`create_time`,
  role_info.`avaiable`,
  role_info.`is_del`
FROM `authorization_role`
INNER JOIN role_info ON role_info.`id`=authorization_role.`role_id`
WHERE authorization_role.`authorization_id` = #{authorityId}
  </select>
  
  <select id="selectRoleInfoListByRoleInfo" resultMap="baseMap" parameterType="com.walkthetalktech.authority.model.authority.RoleInfo">
  	SELECT 
  `id`,
  `role_name`,
  `role_prefix`,
  `role_description`,
  `create_time`,
  `is_del`
FROM
  `walkthetalktech`.`role_info` 
<trim prefix="where" prefixOverrides="AND |OR ">
  		<if test="roleName !=null">
  			role_name LIKE CONCAT(CONCAT('%', #{roleName}), '%')
  		</if>
  		<if test="rolePrefix !=null">
  			AND role_prefix LIKE CONCAT(CONCAT('%', #{rolePrefix}), '%')
  		</if>
  		<if test="roleDescription !=null">
  			AND role_description LIKE CONCAT(CONCAT('%', #{roleDescription}), '%')
  		</if>
  		<if test="beginDate != null">
  		AND `create_time` <![CDATA[ >= ]]> #{beginDate}
  	</if>
  	<if test="endDate != null">
  		AND `create_time` <![CDATA[ <= ]]>#{endDate}
  	</if>
  	</trim>
  	<if test="rows != null">
  		LIMIT #{beginNum},#{rows};
  	</if>
  </select>
  
  <select id="selectRoleInfoCountByRoleInfo" parameterType="com.walkthetalktech.authority.model.authority.RoleInfo" resultType="java.lang.Integer">
  	SELECT COUNT(role_info.`id`) FROM role_info 
  	<trim prefix="where" prefixOverrides="AND |OR ">
  		<if test="roleName !=null and roleName !=''">
  			role_name LIKE CONCAT(CONCAT('%', #{roleName}), '%')
  		</if>
  		<if test="rolePrefix !=null and rolePrefix !=''">
  			AND role_prefix LIKE CONCAT(CONCAT('%', #{rolePrefix}), '%')
  		</if>
  		<if test="roleDescription !=null and roleDescription !=''">
  			AND role_description LIKE CONCAT(CONCAT('%', #{roleDescription}), '%')
  		</if>
  		<if test="beginDate != null and beginDate !=''">
  		AND `create_time` <![CDATA[ >= ]]> #{beginDate}
  	</if>
  	<if test="endDate != null and endDate !=''">
  		AND `create_time` <![CDATA[ <= ]]>#{endDate}
  	</if>
  	</trim>
  </select>
  
  <select id="loadRoleInfoByPrimaryKey" parameterType="java.lang.Long" resultMap="baseMap">
  	SELECT 
  `id`,
  `role_name`,
  `role_prefix`,
  `role_description`,
  `create_time`,
  `is_del`
FROM
  `walkthetalktech`.`role_info` 
WHERE `role_info`.`id` = #{roleInfoId}
  </select>
  <insert id="insertRoleInfoByRoleInfo" parameterType="com.walkthetalktech.authority.model.authority.RoleInfo">
  	INSERT INTO `walkthetalktech`.`role_info`
  	<trim prefix="(" suffix=")" suffixOverrides="," >
  	<if test="roleName !=null">
			`role_name`,
		</if>
		<if test="rolePrefix !=null">
			`role_prefix`,
		</if>
		<if test="roleDescription !=null">
			`role_description`,
		</if>
		<if test="createTime !=null and createTime !=''">
			`create_time`
		</if>
  	</trim>
  	<trim prefix="VALUES (" suffix=")" suffixOverrides="," >
  		<if test="roleName !=null">
			#{roleName},
		</if>
		<if test="rolePrefix !=null">
			#{rolePrefix},
		</if>
		<if test="roleDescription !=null">
			#{roleDescription},
		</if>
		<if test="createTime !=null and createTime !=''">
			#{createTime}
		</if>
  	</trim>
  </insert>
  <update id="updateRoleInfoByRoleInfo" parameterType="com.walkthetalktech.authority.model.authority.RoleInfo">
  	UPDATE 
  `walkthetalktech`.`role_info` 
<set>
	  	<if test="roleName !=null">
			`role_name` = #{roleName},
		</if>
		<if test="rolePrefix !=null">
			`role_prefix` = #{rolePrefix},
		</if>
		<if test="roleDescription !=null">
			`role_description` = #{roleDescription},
		</if>
		<if test="isDel !=null">
			`is_del` = #{isDel}
		</if>
	  </set>
	  <trim prefix="where" prefixOverrides="AND |OR ">
	  	id=#{id}
	  </trim>
  </update>  
  <delete id="deleteRoleInfoByPrimaryKey" parameterType="java.lang.Long">
  	DELETE 
FROM
  `walkthetalktech`.`role_info` 
WHERE `id` = #{id};
  </delete>
  
</mapper>