<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.walkthetalktech.authority.dao.authority.ISysResourceMapper" >

	<resultMap type="com.walkthetalktech.authority.model.authority.SysResource" id="baseMap">
		<id column="id" property="id" jdbcType="BIGINT" />
	    <result column="resource_name" property="sysResourceName" jdbcType="VARCHAR" />
	    <result column="resource_prefix" property="sysResourcePrefix" jdbcType="VARCHAR" />
	    <result column="resource_icon" property="resourceIcon" jdbcType="VARCHAR" />
	    <result column="resource_link" property="resourceLink" jdbcType="VARCHAR" />
	    <result column="resource_type" property="resourceType" jdbcType="INTEGER" />
	    <result column="resource_sort" property="resourceSort" jdbcType="INTEGER" />
	    <result column="resource_parent_id" property="resourceParentId" jdbcType="BIGINT" />
	    <result column="resource_description" property="resourceDescription" jdbcType="VARCHAR" />
	    <result column="create_time" property="createTime" jdbcType="DATE" />
	    <result column="avaiable" property="avaiable" jdbcType="BOOLEAN" />
	    <result column="is_del" property="isDel" jdbcType="BOOLEAN" />
	</resultMap>
	
	<resultMap id="cascadeMap" extends="baseMap" type="com.walkthetalktech.authority.model.authority.SysResource">
		<collection property="children" ofType="com.walkthetalktech.authority.model.authority.SysResource" >
			<id column="child.id" property="id" jdbcType="BIGINT" />
		    <result column="child.resource_name" property="sysResourceName" jdbcType="VARCHAR" />
		    <result column="child.resource_prefix" property="sysResourcePrefix" jdbcType="VARCHAR" />
		    <result column="child.resource_icon" property="resourceIcon" jdbcType="VARCHAR" />
		    <result column="child.resource_link" property="resourceLink" jdbcType="VARCHAR" />
		    <result column="child.resource_type" property="resourceType" jdbcType="INTEGER" />
		    <result column="child.resource_sort" property="resourceSort" jdbcType="INTEGER" />
		    <result column="child.resource_description" property="resourceDescription" jdbcType="VARCHAR" />
		    <result column="child.create_time" property="createTime" jdbcType="DATE" />
		    <result column="child.avaiable" property="avaiable" jdbcType="BOOLEAN" />
		    <result column="child.is_del" property="isDel" jdbcType="BOOLEAN" />
		</collection>
	</resultMap>
	
	<resultMap type="java.util.Map" id="sysResourceRoleInfoMap">
		<result column="id" property="id" jdbcType="BIGINT" />
		<result column="role_id" property="roleInfoId" jdbcType="BIGINT" />
		<result column="resource_id" property="sysResourceId" jdbcType="BIGINT" />
		<result column="permissions" property="permissions" jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap type="com.walkthetalktech.authority.model.authority.RSResource" id="rsresourceMap">
		<id column="id" property="rsrId" />
		<result column="role_id" property="roleInfoId" jdbcType="BIGINT" />
		<result column="permissions" property="permissionIds" jdbcType="VARCHAR" />
		<association property="sysResource" column="resource_id" select="selectSysResourceByPrimaryKey" />
	</resultMap>
	
	<select id="selectRSResourceListByRoleInfo" resultMap="rsresourceMap" parameterType="com.walkthetalktech.authority.model.authority.RoleInfo">
		SELECT 
  resource_role.`id`,
  `role_id`,
  `resource_id`,
  `permissions` 
FROM
`resource_role` 
INNER JOIN role_info ON role_info.`id`=resource_role.`role_id`
<trim prefix="where" prefixOverrides="AND |OR ">
		<if test="id !=null">
			role_info.`id`=#{id}
		</if>
  		<if test="roleName !=null">
  			AND role_name LIKE CONCAT(CONCAT('%', #{roleName}), '%')
  		</if>
  		<if test="rolePrefix !=null">
  			AND role_prefix LIKE CONCAT(CONCAT('%', #{rolePrefix}), '%')
  		</if>
  		<if test="roleDescription !=null">
  			AND role_description LIKE CONCAT(CONCAT('%', #{roleDescription}), '%')
  		</if>
  		<if test="beginDate != null">
  		AND `create_time` <![CDATA[ >= ]]> #{beginDate}
  	</if>
  	<if test="endDate != null">
  		AND `create_time` <![CDATA[ <= ]]>#{endDate}
  	</if>
  	</trim>
  	<if test="rows != null">
  		LIMIT #{beginNum},#{rows};
  	</if>
	</select>
<select id="selectRSResourceListByRSResource" parameterType="com.walkthetalktech.authority.model.authority.RSResource" resultMap="rsresourceMap">
	SELECT 
  resource_role.`id`,
  `role_id`,
  `resource_id`,
  `permissions` 
FROM
`resource_role`
INNER JOIN sys_resource ON sys_resource.`id`=resource_role.`resource_id`
<trim prefix="where" prefixOverrides="AND |OR ">
<if test="roleInfoId != null">
role_id = #{roleInfoId}
</if>
<if test="sysResource.resourceParentId != null">
AND sys_resource.`resource_parent_id` = #{sysResource.resourceParentId}
</if>
</trim>
</select>
  	<!-- <select id="selectSysResourceListCascadeBySysResource" parameterType="com.walkthetalktech.authority.model.authority.SysResource" resultMap="cascadeMap">
  		SELECT 
  child.`id` AS 'child.id',
  child.`resource_name` AS 'child.resource_name',
  child.`resource_prefix` AS 'child.resource_prefix',
  child.`resource_link` AS 'child.resource_link',
  child.`resource_type` AS 'child.resource_type',
  child.`resource_sort` AS 'child.resource_sort',
  child.`resource_description` AS 'child.resource_description',
  child.`create_time` AS 'child.create_time',
  child.`avaiable` AS 'child.avaiable',
  child.`is_del` AS 'child.is_del',
  parent.`id`,
  parent.`resource_name`,
  parent.`resource_prefix`,
  parent.`resource_link`,
  parent.`resource_type`,
  parent.`resource_sort`,
  parent.`resource_description`,
  parent.`create_time`,
  parent.`avaiable`,
  parent.`is_del`
FROM
  `walkthetalktech`.`sys_resource` parent
JOIN  `walkthetalktech`.`sys_resource`  child ON child.`resource_parent_id`=parent.`id`
<trim prefix="where" prefixOverrides="AND |OR " >
	<if test="id != null">
  		AND parent.`id`=#{id}
  	</if>
  	<if test="sysResourceName !=null and sysResourceName !=''">
  		AND parent.`resource_name` LIKE CONCAT(CONCAT('%', #{sysResourceName}), '%')
  	</if>
  	<if test="sysResourcePrefix != null and sysResourcePrefix !=''">
  		AND parent.`resource_prefix` LIKE CONCAT(CONCAT('%', #{sysResourcePrefix}), '%')
  	</if>
  	<if test="resourceLink != null and resourceLink !=''">
  		AND parent.`resource_link` LIKE CONCAT(CONCAT('%', #{resourceLink}), '%')
  	</if>
  	<if test="resourceDescription != null and resourceDescription !=''">
  		AND parent.`resource_description` LIKE CONCAT(CONCAT('%', #{resourceDescription}), '%')
  	</if>
  	<if test="isDel != null">
  		AND parent.`is_del`=#{isDel}
  	</if>
  	<if test="beginDate != null">
  		AND parent.`create_time` <![CDATA[ >= ]]> #{beginDate}
  	</if>
  	<if test="endDate != null">
  		AND parent.`create_time` <![CDATA[ <= ]]>#{endDate}
  	</if>
</trim>
  	</select> -->
<select id="selectSysResourceByPrimaryKey" parameterType="java.lang.Long" resultMap="baseMap">
		SELECT 
  sys_resource.`id`,
  sys_resource.`resource_name`,
  sys_resource.`resource_prefix`,
  sys_resource.`resource_icon`,
  sys_resource.`resource_link`,
  sys_resource.`resource_type`,
  sys_resource.`resource_sort`,
  sys_resource.`resource_parent_id`,
  sys_resource.`resource_description`,
  sys_resource.`create_time`,
  sys_resource.`avaiable`,
  sys_resource.`is_del`
 FROM
`sys_resource`
WHERE `id`=#{sysResourceId}
</select>
<select id="selectSysResourceListBySysResource" parameterType="com.walkthetalktech.authority.model.authority.SysResource" resultMap="baseMap">
	SELECT 
  sys_resource.`id`,
  sys_resource.`resource_name`,
  sys_resource.`resource_prefix`,
  sys_resource.`resource_icon`,
  sys_resource.`resource_link`,
  sys_resource.`resource_type`,
  sys_resource.`resource_sort`,
  sys_resource.`resource_parent_id`,
  sys_resource.`resource_description`,
  sys_resource.`create_time`,
  sys_resource.`avaiable`,
  sys_resource.`is_del`
 FROM
`sys_resource`
<trim prefix="where" prefixOverrides="AND |OR " suffixOverrides="," >
	<if test="id != null">
  		`id`=#{id}
  	</if>
  	<if test="sysResourceName !=null and sysResourceName !=''">
  		AND `resource_name` LIKE CONCAT(CONCAT('%', #{sysResourceName}), '%')
  	</if>
  	<if test="sysResourcePrefix != null and sysResourcePrefix !=''">
  		AND `resource_prefix` LIKE CONCAT(CONCAT('%', #{sysResourcePrefix}), '%')
  	</if>
  	<if test="resourceLink != null and resourceLink !=''">
  		AND `resource_link` LIKE CONCAT(CONCAT('%', #{resourceLink}), '%')
  	</if>
  	<if test="resourceDescription != null and resourceDescription !=''">
  		AND `resource_description` LIKE CONCAT(CONCAT('%', #{resourceDescription}), '%')
  	</if>
  	<if test="isDel != null">
  		AND `is_del`=#{isDel}
  	</if>
  	<if test="beginDate != null">
  		AND `create_time` <![CDATA[ >= ]]> #{beginDate}
  	</if>
  	<if test="endDate != null">
  		AND `create_time` <![CDATA[ <= ]]>#{endDate}
  	</if>
  	<if test="resourceType != null">
  		AND resource_type=#{resourceType}
  	</if>
  	<if test="resourceParentId != null">
  		AND resource_parent_id=#{resourceParentId}
  	</if>
</trim>
</select>

<select id="selectSysResourceListByRoleInfo" resultMap="baseMap" parameterType="com.walkthetalktech.authority.model.authority.RoleInfo">
	SELECT  
  sys_resource.`id`,
  sys_resource.`resource_icon`,
  sys_resource.`resource_name`,
  sys_resource.`resource_prefix`,
  sys_resource.`resource_link`,
  sys_resource.`resource_type`,
  sys_resource.`resource_sort`,
  sys_resource.`resource_parent_id`,
  sys_resource.`resource_description`,
  sys_resource.`create_time` FROM
resource_role
INNER JOIN sys_resource ON sys_resource.`id`=resource_role.`resource_id`
INNER JOIN role_info ON role_info.`id`=resource_role.`role_id`
<trim prefix="where" prefixOverrides="AND |OR ">
		<if test="id !=null">
			role_info.`id`=#{id}
		</if>
  		<if test="roleName !=null">
  			AND role_name LIKE CONCAT(CONCAT('%', #{roleName}), '%')
  		</if>
  		<if test="rolePrefix !=null">
  			AND role_prefix LIKE CONCAT(CONCAT('%', #{rolePrefix}), '%')
  		</if>
  		<if test="roleDescription !=null">
  			AND role_description LIKE CONCAT(CONCAT('%', #{roleDescription}), '%')
  		</if>
  		<if test="beginDate != null">
  		AND `create_time` <![CDATA[ >= ]]> #{beginDate}
  	</if>
  	<if test="endDate != null">
  		AND `create_time` <![CDATA[ <= ]]>#{endDate}
  	</if>
  	</trim>
  	<if test="rows != null">
  		LIMIT #{beginNum},#{rows};
  	</if>
  </select>

<select id="selectSysResourceListByRoleIdAndSysResourceType" resultMap="baseMap" parameterType="java.util.Map">
	SELECT 
  sys_resource.`id`,
  sys_resource.`resource_icon`,
  sys_resource.`resource_name`,
  sys_resource.`resource_prefix`,
  sys_resource.`resource_link`,
  sys_resource.`resource_type`,
  sys_resource.`resource_sort`,
  sys_resource.`resource_parent_id`,
  sys_resource.`resource_description`,
  sys_resource.`create_time`,
  sys_resource.`avaiable`,
  sys_resource.`is_del`
 FROM
  `resource_role`
INNER JOIN sys_resource ON sys_resource.`id`=resource_role.`resource_id`
<trim prefix="where" prefixOverrides="AND |OR " suffixOverrides="," >
<if test="roleId !=null">
resource_role.`role_id` = #{roleInfoId}
</if>
<if test="sysResourceType !=null">
AND sys_resource.`resource_type` = #{sysResourceType}
</if>
</trim>
</select>
<select id="selectSysResourceIdListByRoleInfoId" parameterType="java.lang.Long" resultType="java.lang.Long">
	SELECT resource_role.`resource_id` FROM resource_role
WHERE resource_role.`role_id`=#{roleInfoId}
</select>

<select id="selectSysResourceRoleInfoByRoleInfoIdAndSysResourceId" resultMap="sysResourceRoleInfoMap">
	SELECT resource_role.`id`,resource_role.`role_id`,resource_role.`resource_id`,resource_role.`permissions`
FROM resource_role
WHERE resource_role.`role_id`=#{0} 
AND resource_role.`resource_id`=#{1}
</select>

<delete id="deleteSysResourceRoleInfoByRoleInfoIdAndSysResourceId" parameterType="java.lang.Long">
	DELETE 
FROM
  `resource_role` 
WHERE `id` = #{id} ;
</delete>

<insert id="insertSysResourceRoleInfoBySysResourceRoleInfo" parameterType="java.util.Map">
	INSERT INTO `walkthetalktech`.`resource_role`
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="roleInfoId != null">
				`role_id`,
			</if>
			<if test="sysResourceId != null">
				`resource_id`,
			</if>
			<if test="permissions !=null and permissions !=''">
				`permissions`
			</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides="," >
			<if test="roleInfoId != null">
				#{roleInfoId},
			</if>
			<if test="sysResourceId != null">
				#{sysResourceId},
			</if>
			<if test="permissions !=null and permissions !=''">
				#{permissions}
			</if>
		</trim>;
</insert>


</mapper>